.view-Code {
    counter-reset: lineNumber;
}

@numberWidth: 30px;
.view-Code-Line {
    position: relative;
    min-height: 1.2em;
    padding-left: @numberWidth;
    .border-box;
}

.view-Code-Line:before {
    font-family: Consolas, monaco, monospace;
    counter-increment: lineNumber;
    content: counter(lineNumber);

    position: absolute;
    height: 100%;
    @overlap: 4px;
    width: @numberWidth + @overlap;
    left: -@overlap;
    padding-left: @overlap + 4px;
    padding-top: .1em;
    background: #F1F0F0;
    border-right: 1px solid #CCC;
    color: #555;
    .border-box;
}
